@{
    ViewData["Title"] = "Home Page";
}
@using Logic.BusinessUser;

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
@{ BusinessUserCollection _businessUserCollection = new BusinessUserCollection(); }

<div>
    @foreach(var business in _businessUserCollection.GetAllBusinesses())
            {
                <p>@business.BusinessName</p>
            }
</div>