@model CLeeflang_IndividueelProject.Models.TimeSlotViewModel

@{
    ViewData["Title"] = "CreateTimeSlot";
}

<h1>CreateTimeSlot</h1>

<h4>TimeSlotViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateTimeSlot">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BusinessUserId" class="control-label"></label>
                <input asp-for="BusinessUserId" class="form-control" />
                <span asp-validation-for="BusinessUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DayOTWeek" class="control-label"></label>
                <input asp-for="DayOTWeek" class="form-control" />
                <span asp-validation-for="DayOTWeek" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartTime" class="control-label"></label>
                <input asp-for="StartTime" class="form-control" />
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndTime" class="control-label"></label>
                <input asp-for="EndTime" class="form-control" />
                <span asp-validation-for="EndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
