@model CLeeflang_IndividueelProject.Models.BusinessUser.BusinessLoginModel

@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<h4>BusinessLoginModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Identifier" class="control-label"></label>
                <input asp-for="Identifier" class="form-control" />
                <span asp-validation-for="Identifier" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
            <div class="text-danger">@ViewBag.LoginError</div>
        </form>
    </div>
</div>

<div>
    <div>Don't have a business account yet? <br/> <a asp-controller="BusinessUser" asp-action="Register">Register as a new business</a></div>
    <a asp-controller="Home" asp-action="Index">Back</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
